<?xml version='1.0' encoding='utf-8'?>
<widget id="com.keianhzo.worlds" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Worlds</name>
    <description>
        Worlds Game
    </description>
    <author email="imanol.martin@gmail.com" href="http://cocoon.io">
        Keianhzo
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
